body
{
  background-color: rgb(243, 231, 57);
}
.area {
  background-image: url(bg.jpg);
    position: relative;
    width : 800px;
    height: 800px;
    border: 10px solid rgb(0, 110, 184);
    border-radius: 10px;
  }
  
  .ball {
    position: absolute;
    width : 30px;
    height: 30px;
    background: rgb(255, 0, 0);
    border-radius: 100%;
    z-index: 10;
    box-shadow: 2px 2px 5px black;
  }
  .point
  {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(178, 0, 194);
    border-radius: 100%;
    z-index: 1;
    display: none;
    box-shadow: 2px 2px 5px black;
  }
  